@import url(../../assetes/css/footer.css);
@import url(../../assetes/css/header.css);
@import url(../../assetes/css/fonts.css);
@import url(../../assetes/css/normalize.css);
@import url(../home/style.css);

.main {
    margin-top: 42px;
    display: flex;
    justify-content: flex-start;
}

.main__desc {
    max-width: 460px;
    margin-right: 30px;
}

.main__image {
    max-width: 460px;
    height: auto;
    object-fit: cover;
    margin-top: 25px;
    margin-bottom: 16px;
}

.main__image-mini {
    display: flex;
    max-width: 360px;
    gap: 5px;
}

.image_mini {
    object-fit: cover;
}

.text__desc {
    margin-top: 30px;
    max-width: 390px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: #0A143A;
}

.user__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #0A143A;
}

.user__op {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #0A143A;
}

.user__desc {
    margin-right: 74px;
}

.user {
    display: flex;
    margin-bottom: 30px;
}

.main__button {
    width: 264px;
    height: 54px;
    border: 0;
    color: white;
    background-color: #256EEB;
    border-radius: 5px;
    margin-bottom: 14px;
}

.main__button:hover {
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: column;
}

.main__btn {
    background: #14B4BE;
}

.main__seller {
    margin-right: 128px;
}

.adv2 {
    margin-bottom: 26px;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #0A143A;
}

@media screen and (max-width:320px) {
    .main__image {
        max-width: 269px;
    }

    .image_mini {
        max-width: 62px;
    }

    .image_mini:nth-child(4) {
        display: none;
    }
    .text__desc{
        margin-bottom: 46px;
    }
    .main__btn{
        margin-bottom: 46px;
    }
}